@import "../../scss/mixins";
@import "../../scss/variables";

.Error {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    margin-bottom: 2.5rem;
    max-width: 10rem;
    width: 100%;
    
    @include mq('md') {
      max-width: 25%;
    }
  }

  &__title {
    margin-bottom: .5rem;
    font-size: 1.6rem;
    line-height: 1.8;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: $pokemon-blue;
    
    @include mq('md') {
      margin: 0;
      font-size: 2rem;
      letter-spacing: -1px;
    }
  }

  &__text {
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: 400;
    color: $pokemon-blue;
    
    @include mq('md') {
      font-size: 1.3rem;
      line-height: 1.6;
    }
  }
}