@import "../../scss/mixins";
@import "../../scss/variables";

.Search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75rem;

  @include mq('sm') {
    flex-direction: row;
    gap: 1rem;
  }

  &__input {
    padding: 0.8rem 1.2rem;
    border-radius: $default-radius;
    box-shadow: $box-shadow;
  }

  &__dropdown {
    width: 100%;
    box-shadow: $box-shadow;
    
    @include mq('sm') {
      width: 30%;
    }
  }
}