.PageContent {
  margin: 0 auto;
  padding: 2rem 1.5rem;
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .ant-row {
    width: 100%;
    height: 100%;
  }

  .search {
    &__wrp {
      display: flex;
      align-items: center;
    }

    &__select {
      width: 25%;
    }
  }

  .results {
    &__wrp {
      margin-top: 2rem;
    }
  }
}